.home-layout{
    background-color: #fafafa;
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: auto;
    grid-template-areas: "projects profile" "footer footer";
}

.project-section {
    grid-area: projects;
}

.profile-section {
    grid-area: profile;
}

.footer-section {
    grid-area: footer;
}