.footer {
    background: white;
    border-top: 3px solid #5c81ac;
    height: 90px;
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3em;
}

.footer span {
    color: #7f7f7f;
    font-weight: bold;
    font-size: 2em;
}

.footer small {
    font-size: 0.5em;
}

.footer_image {
    height: 80px;
}

.footer_questions {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 1px solid #5c81ac;
    text-align: center;
}

.footer_questions a {
    color: #5c81ac;
}

.footer_questions a:hover {
    text-decoration: none;
}
